
   <div class="col-sm-6 col-xl-3">
    <div class="panel panel-tile info-block info-block-bg-info">
    <div class="panel-body">
    <div class="row">
    <div class="col-xs-5 ph10 text-center">
    <i class="imoon imoon-users2"></i>
    </div>
    <div class="col-xs-7 pl35 text-center">
    <h2 class="">{{nbclient}}</h2>
    <h6 class="text-muted">clients</h6>
    </div>
    <div class="col-sm-12">
    <div class="info-block-stat">
    <span>nombre des clients</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
   

        <div class="col-sm-6 col-xl-3">
            <div class="panel panel-tile info-block info-block-bg-info">
            <div class="panel-body">
            <div class="row">
            <div class="col-xs-5 ph10 text-center">
            <i class="imoon imoon-users2"></i>
            </div>
            <div class="col-xs-7 pl35 text-center">
            <h2 class="">6089</h2>
            <h6 class="text-muted">client</h6>
            </div>
            <div class="col-sm-12">
            <div class="info-block-stat">
            <span>max d'accidents</span>
            <span></span>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>

        
      
        <div class="col-sm-6 col-xl-3">
            <div class="panel panel-tile info-block info-block-bg-info">
            <div class="panel-body">
            <div class="row">
            <div class="col-xs-5 ph10 text-center">
            <i class="imoon imoon-users2"></i>
            </div>
            <div class="col-xs-7 pl35 text-center">
            <h2 class="">6089</h2>
            <h6 class="text-muted">client</h6>
            </div>
            <div class="col-sm-12">
            <div class="info-block-stat">
            <span>le plus rentable</span>
            <span></span>
            </div>
            </div>
            </div>
            </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-xl-3">
                <div class="panel panel-tile info-block info-block-bg-info">
                <div class="panel-body">
                <div class="row">
                <div class="col-xs-5 ph10 text-center">
                <i class="imoon imoon-users2"></i>
                </div>
                <div class="col-xs-7 pl35 text-center">
                    <h6 class="text-muted">Nom :{{MaxClientfidele[0].nom}} {{MaxClientfidele[0].prenom}}</h6>
                   <br>
                    <h6 class="text-muted">nbLoc :{{MaxClientfidele[1]}}</h6>
                    <br>
                </div>
                <div class="col-sm-12">
                <div class="info-block-stat">
                <span>le plus fidèle</span>
                <span></span>
                </div>
                </div>
                </div>
                </div>
                </div>
        </div>

        <div class="col-sm-6 col-xl-3">
                            <div class="panel panel-tile info-block info-block-bg-system">
                            <div class="panel-body">
                            <div class="row">
                            <div class="col-xs-5 ph10 text-center">
                            <i class="fa fa-automobile"></i>
                            </div>
                            <div class="col-xs-7 pl35 text-center">
                            <h2 class="">{{nbvoiture}}</h2>
                            <h6 class="text-muted">voitures</h6>
                        </div>
                        <div class="col-sm-12">
                        <div class="info-block-stat">
                        <span>nombre des voitures</span>
                            </div>
                            </div>
                             </div>
                            </div>
                            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
                                <div class="panel panel-tile info-block info-block-bg-system">
                                <div class="panel-body">
                                <div class="row">
                                <div class="col-xs-5 ph10 text-center">
                                <i class="fa fa-automobile"></i>
                                </div>
                                <div class="col-xs-7 pl35 text-center">
                                <h2 class=""></h2>
                                <h6 class="text-muted">marque :{{MaxLoueeParLoc[0].marque}}</h6>
                                <h6 class="text-muted">modele :{{MaxLoueeParLoc[0].modele}}</h6>
                                <h6 class="text-muted">nbLoc :{{MaxLoueeParLoc[1]}}</h6>
                                </div>
                                <div class="col-sm-12">
                                <div class="info-block-stat">
                                <span>modèle le plus populaire</span>
                                <span></span>
                                </div>
                                </div>
                                 </div>
                                </div>
                                </div>
        </div>
        <div class="col-sm-6 col-xl-3">
                                    <div class="panel panel-tile info-block info-block-bg-system">
                                    <div class="panel-body">
                                    <div class="row">
                                    <div class="col-xs-5 ph10 text-center">
                                    <i class="fa fa-automobile"></i>
                                    </div>
                                    <div class="col-xs-7 pl35 text-center">
                                        <h6 class="text-muted">marque: {{MaxLouee.voiture.marque}}</h6>
                                        <br>
                                        <h6 class="text-muted">date deb:{{MaxLouee.date_deb}}</h6>
                                        <h6 class="text-muted">date fin: {{MaxLouee.date_fin}}</h6>
                                        
                                    </div>
                                    <div class="col-sm-12">
                                    <div class="info-block-stat">
                                    <span>la plus louée % nb jour</span>
                                    <span></span>
                                    </div>
                                    </div>
                                     </div>
                                    </div>
                                    </div>
         </div>
        <div class="col-sm-6 col-xl-3">
                                        <div class="panel panel-tile info-block info-block-bg-system">
                                        <div class="panel-body">
                                        <div class="row">
                                        <div class="col-xs-5 ph10 text-center">
                                        <i class="fa fa-automobile"></i>
                                        </div>
                                       
                                            <div class="col-xs-7 pl35 text-center">
                                                <br>
                                               <h6 class="text-muted">modèle : {{rentableVoiture.marque}}</h6>
                                                <h6 class="text-muted">marque : {{rentableVoiture.modele}}</h6>
                                                <h6 class="text-muted">prix: {{rentableVoiture.prixLoc}}</h6>
                                                                                                   
                                        </div>
                                        <div class="col-sm-12">
                                        <div class="info-block-stat">
                                        <span>voiture la plus rentable</span>
                                        <span></span>
                                        </div>
                                        </div>
                                         </div>
                                        </div>
                                        </div>
         </div>
        <div class="col-sm-6 col-xl-3">
                                            <div class="panel panel-tile info-block info-block-bg-system">
                                            <div class="panel-body">
                                            <div class="row">
                                            <div class="col-xs-5 ph10 text-center">
                                            <i class="fa fa-automobile"></i>
                                            </div>
                                            <div class="col-xs-7 pl35 text-center">
                                            <h2 class="">186</h2>
                                            <h6 class="text-muted">voiture</h6>
                                            </div>
                                            <div class="col-sm-12">
                                            <div class="info-block-stat">
                                            <span>jamais louée</span>
                                            <span></span>
                                            </div>
                                            </div>
                                             </div>
                                            </div>
                                            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
                                                <div class="panel panel-tile info-block info-block-bg-system">
                                                <div class="panel-body">
                                                <div class="row">
                                                <div class="col-xs-5 ph10 text-center">
                                                <i class="fa fa-automobile"></i>
                                                </div>
                                                <div class="col-xs-7 pl35 text-center">
                                                <h2 class="">186</h2>
                                                <h6 class="text-muted">voiture</h6>
                                                </div>
                                                <div class="col-sm-12">
                                                <div class="info-block-stat">
                                                <span>la plus accidentée</span>
                                                <span></span>
                                                </div>
                                                </div>
                                                 </div>
                                                </div>
                                                </div>
        </div>
      <div class="col-sm-6 col-xl-3">
                                                    <div class="panel panel-tile info-block info-block-bg-system">
                                                    <div class="panel-body">
                                                    <div class="row">
                                                    <div class="col-xs-5 ph10 text-center">
                                                    <i class="fa fa-automobile"></i>
                                                    </div>
                                                    <div class="col-xs-7 pl35 text-center">
                                                        <h6 class="text-muted">modèle : {{puissanteVoiture.marque}}</h6>
                                                        <h6 class="text-muted">marque : {{puissanteVoiture.modele}}</h6>
                                                        <br>
                                                        <h6 class="text-muted">puissance : {{puissanteVoiture.puissanceFiscale}}</h6>
                                                    </div>
                                                    <div class="col-sm-12">
                                                    <div class="info-block-stat">
                                                    <span>voiture plus puissante</span>
                                                    <span></span>
                                                    </div>
                                                    </div>
                                                     </div>
                                                    </div>
                                                    </div>
       </div>
      <div class="col-sm-6 col-xl-3">
                                                        <div class="panel panel-tile info-block info-block-bg-warning">
                                                        <div class="panel-body">
                                                        <div class="row">
                                                        <div class="col-xs-5 ph10 text-center">
                                                        <i class="fa fa-money"></i>
                                                        </div>
                                                        <div class="col-xs-7 pl35 text-center">
                                                        <h2 class="">{{getMaxDureeLoc}}</h2>
                                                        <h6 class="text-muted">jours</h6>
                                                    </div>
                                                    <div class="col-sm-12">
                                                    <div class="info-block-stat">
                                                    <span>La plus Longue Location</span>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        </div>
      </div>

      
        <div class="col-sm-6 col-xl-3">
                        <div class="panel panel-tile info-block info-block-bg-warning">
                        <div class="panel-body">
                        <div class="row">
                        <div class="col-xs-5 ph10 text-center">
                        <i class="fa fa-money"></i>
                        </div>
                        <div class="col-xs-7 pl35 text-center">
                        <h2 class="">{{nblocation}}</h2>
                        <h6 class="text-muted">locations</h6>
                    </div>
                    <div class="col-sm-12">
                    <div class="info-block-stat">
                    <span>nombre des locations</span>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
        </div>   
