
<div class="col-sm-6 col-xl-3">
    <div class="panel panel-tile info-block info-block-bg-info">
    <div class="panel-body">
    <div class="row">
    <div class="col-xs-5 ph10 text-center">
    <i class="imoon imoon-users2"></i>
    </div>
    <div class="col-xs-7 pl35 text-center">
    <h2 class="">6089</h2>
    <h6 class="text-muted">nombre des clients</h6>
    </div>
    <div class="col-sm-12">
    <div class="info-block-stat">
    <span>Last Week’s Users</span>
    <span>2096</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="panel panel-tile info-block info-block-bg-info">
        <div class="panel-body">
        <div class="row">
        <div class="col-xs-5 ph10 text-center">
        <i class="imoon imoon-users2"></i>
        </div>
        <div class="col-xs-7 pl35 text-center">
        <h2 class="">6089</h2>
        <h6 class="text-muted">client </h6>
        </div>
        <div class="col-sm-12">
        <div class="info-block-stat">
        <span>max des location</span>
        <span></span>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="panel panel-tile info-block info-block-bg-info">
            <div class="panel-body">
            <div class="row">
            <div class="col-xs-5 ph10 text-center">
            <i class="imoon imoon-users2"></i>
            </div>
            <div class="col-xs-7 pl35 text-center">
            <h2 class="">6089</h2>
            <h6 class="text-muted">client</h6>
            </div>
            <div class="col-sm-12">
            <div class="info-block-stat">
            <span>max d'accidents</span>
            <span></span>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
        <div class="col-sm-6 col-xl-3">
                <div class="panel panel-tile info-block info-block-bg-info">
                <div class="panel-body">
                <div class="row">
                <div class="col-xs-5 ph10 text-center">
                <i class="imoon imoon-users2"></i>
                </div>
                <div class="col-xs-7 pl35 text-center">
                <h2 class="">6089</h2>
                <h6 class="text-muted">client</h6>
                </div>
                <div class="col-sm-12">
                <div class="info-block-stat">
                <span>le plus fidèle</span>
                <span></span>
                </div>
                </div>
                </div>
                </div>
                </div>
        </div>
        <div class="col-sm-6 col-xl-3">
                    <div class="panel panel-tile info-block info-block-bg-info">
                    <div class="panel-body">
                    <div class="row">
                    <div class="col-xs-5 ph10 text-center">
                    <i class="imoon imoon-users2"></i>
                    </div>
                    <div class="col-xs-7 pl35 text-center">
                    <h2 class="">6089</h2>
                    <h6 class="text-muted">client</h6>
                    </div>
                    <div class="col-sm-12">
                    <div class="info-block-stat">
                    <span>le plus rentable</span>
                    <span></span>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
        </div>
        <div class="col-sm-6 col-xl-3">
                        <div class="panel panel-tile info-block info-block-bg-warning">
                        <div class="panel-body">
                        <div class="row">
                        <div class="col-xs-5 ph10 text-center">
                        <i class="fa fa-money"></i>
                        </div>
                        <div class="col-xs-7 pl35 text-center">
                        <h2 class="">7509</h2>
                        <h6 class="text-muted">Nombre des locations</h6>
                        </div>
                        <div class="col-sm-12">
                        <div class="info-block-stat">
                        <span>Last Week’s Profit</span>
                        <span>4153</span>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
        </div>
        <div class="col-sm-6 col-xl-3">
                            <div class="panel panel-tile info-block info-block-bg-system">
                            <div class="panel-body">
                            <div class="row">
                            <div class="col-xs-5 ph10 text-center">
                            <i class="fa fa-automobile"></i>
                            </div>
                            <div class="col-xs-7 pl35 text-center">
                            <h2 class="">186</h2>
                            <h6 class="text-muted">nombre des voitures</h6>
                            </div>
                            <div class="col-sm-12">
                            <div class="info-block-stat">
                            <span></span>
                            <span></span>
                            </div>
                            </div>
                             </div>
                            </div>
                            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
                                <div class="panel panel-tile info-block info-block-bg-system">
                                <div class="panel-body">
                                <div class="row">
                                <div class="col-xs-5 ph10 text-center">
                                <i class="fa fa-automobile"></i>
                                </div>
                                <div class="col-xs-7 pl35 text-center">
                                <h2 class="">186</h2>
                                <h6 class="text-muted">Voiture</h6>
                                </div>
                                <div class="col-sm-12">
                                <div class="info-block-stat">
                                <span>modèle le plus populaire</span>
                                <span></span>
                                </div>
                                </div>
                                 </div>
                                </div>
                                </div>
        </div>
        <div class="col-sm-6 col-xl-3">
                                    <div class="panel panel-tile info-block info-block-bg-system">
                                    <div class="panel-body">
                                    <div class="row">
                                    <div class="col-xs-5 ph10 text-center">
                                    <i class="fa fa-automobile"></i>
                                    </div>
                                    <div class="col-xs-7 pl35 text-center">
                                    <h2 class="">186</h2>
                                    <h6 class="text-muted">voiture</h6>
                                    </div>
                                    <div class="col-sm-12">
                                    <div class="info-block-stat">
                                    <span>la plus louée p/p nb loc et nb jour</span>
                                    <span></span>
                                    </div>
                                    </div>
                                     </div>
                                    </div>
                                    </div>
         </div>
        <div class="col-sm-6 col-xl-3">
                                        <div class="panel panel-tile info-block info-block-bg-system">
                                        <div class="panel-body">
                                        <div class="row">
                                        <div class="col-xs-5 ph10 text-center">
                                        <i class="fa fa-automobile"></i>
                                        </div>
                                        <div class="col-xs-7 pl35 text-center">
                                        <h2 class="">186</h2>
                                        <h6 class="text-muted">voiture</h6>
                                        </div>
                                        <div class="col-sm-12">
                                        <div class="info-block-stat">
                                        <span>la plus rentable</span>
                                        <span></span>
                                        </div>
                                        </div>
                                         </div>
                                        </div>
                                        </div>
         </div>
        <div class="col-sm-6 col-xl-3">
                                            <div class="panel panel-tile info-block info-block-bg-system">
                                            <div class="panel-body">
                                            <div class="row">
                                            <div class="col-xs-5 ph10 text-center">
                                            <i class="fa fa-automobile"></i>
                                            </div>
                                            <div class="col-xs-7 pl35 text-center">
                                            <h2 class="">186</h2>
                                            <h6 class="text-muted">voiture</h6>
                                            </div>
                                            <div class="col-sm-12">
                                            <div class="info-block-stat">
                                            <span>jamais louée</span>
                                            <span></span>
                                            </div>
                                            </div>
                                             </div>
                                            </div>
                                            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
                                                <div class="panel panel-tile info-block info-block-bg-system">
                                                <div class="panel-body">
                                                <div class="row">
                                                <div class="col-xs-5 ph10 text-center">
                                                <i class="fa fa-automobile"></i>
                                                </div>
                                                <div class="col-xs-7 pl35 text-center">
                                                <h2 class="">186</h2>
                                                <h6 class="text-muted">voiture</h6>
                                                </div>
                                                <div class="col-sm-12">
                                                <div class="info-block-stat">
                                                <span>la plus accidentée</span>
                                                <span></span>
                                                </div>
                                                </div>
                                                 </div>
                                                </div>
                                                </div>
        </div>
      <div class="col-sm-6 col-xl-3">
                                                    <div class="panel panel-tile info-block info-block-bg-system">
                                                    <div class="panel-body">
                                                    <div class="row">
                                                    <div class="col-xs-5 ph10 text-center">
                                                    <i class="fa fa-automobile"></i>
                                                    </div>
                                                    <div class="col-xs-7 pl35 text-center">
                                                    <h2 class="">186</h2>
                                                    <h6 class="text-muted">voiture</h6>
                                                    </div>
                                                    <div class="col-sm-12">
                                                    <div class="info-block-stat">
                                                    <span>la plus louée puissante</span>
                                                    <span></span>
                                                    </div>
                                                    </div>
                                                     </div>
                                                    </div>
                                                    </div>
                                                    </div>