<div id="main">

    

   


    <section id="content_wrapper">

        


        <section id="content" class="table-layout animated fadeIn">

            

            <div class="chute chute-center">
                <div class="allcp-form theme-primary mw1000 center-block pb175">

                    <div class="panel">
                        <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    Remplir Formulaire
                                </div>
                            </div>
                            <div class="panel-body">
                                <h6 class="mb20" id="spy1">Basic inputs</h6>
                                <div class="section row mhn10">
                                    <div class="col-md-6 ph10 mb5">
                                        <label for="Numimmat" class="field prepend-icon">
                                            <input type="text" formControlName="Numimmat" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Nimmat.errors }"
                                                   placeholder="Num immat">
                                           
                                        </label>
                                        <div *ngIf="submitted && f.Nimmat.errors" class="invalid-feedback">
                                            <div *ngIf="f.Nimmat.errors.required">N°immat is required</div>
                                        </div>

                                    </div>

                                    <div class="col-md-6 ph10 mb5">
                                        <label for="marque" class="field prepend-icon">
                                            <input type="text" formControlName="marque" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.marque.errors }"
                                                   placeholder="Marque...">
                                            
                                        </label>
                                        <div *ngIf="submitted && f.marque.errors" class="invalid-feedback">
                                            <div *ngIf="f.marque.errors.required">marque is required</div>
                                        </div>

                                    </div>

                                </div>

                                <div class="section row mhn10">
                                    <div class="col-md-6 ph10 mb5">
                                        <label for="Modele" class="field prepend-icon">
                                            <input type="text" formControlName="Modele" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Modele.errors }"
                                                   placeholder="Modèle...">
                                            
                                        </label>
                                        <div *ngIf="submitted && f.Modele.errors" class="invalid-feedback">
                                            <div *ngIf="f.Modele.errors.required">Modele is required</div>
                                        </div>

                                    </div>
                                    <div class="col-md-6 ph10 mb5">
                                        <label for="price" class="field prepend-icon">
                                            <input type="text" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }"
                                                   placeholder="price...">
                                            
                                        </label>
                                        <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                                            <div *ngIf="f.price.errors.required">price is required</div>
                                        </div>

                                    </div>

                                    <div class="col-md-6 ph10 mb5">
                                        <label for="numChassis" class="field prepend-icon">
                                            <input type="text" formControlName="numChassis" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.numChassis.errors }"
                                                   placeholder="numChassis...">
                                            
                                        </label>
                                        <div *ngIf="submitted && f.numChassis.errors" class="invalid-feedback">
                                            <div *ngIf="f.numChassis.errors.required">numChassis is required</div>
                                        </div>

                                    </div>

                                    <div class="col-md-6 ph10 mb5">
                                        <label for="puissanceFiscale" class="field prepend-icon">
                                            <input type="text" formControlName="puissanceFiscale" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.puissanceFiscale.errors }"
                                                   placeholder="puissanceFiscale...">
                                            
                                        </label>
                                        <div *ngIf="submitted && f.puissanceFiscale.errors" class="invalid-feedback">
                                            <div *ngIf="f.puissanceFiscale.errors.required">price is required</div>
                                        </div>

                                    </div>

                                    <div class="col-md-6 ph10 mb5">
                                        <label for="nbCylindre" class="field prepend-icon">
                                            <input type="text" formControlName="nbCylindre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nbCylindre.errors }"
                                                   placeholder="nbCylindre...">
                                            
                                        </label>
                                        <div *ngIf="submitted && f.nbCylindre.errors" class="invalid-feedback">
                                            <div *ngIf="f.nbCylindre.errors.required">price is required</div>
                                        </div>

                                    </div>
                                    
                                </div>
                                                             
                                <div class="section">
                                    <label for="datepicker1" class="field prepend-icon">
                                    <input type="date" id="datepicker1" formControlName="datepicker1" name="datepicker1" class="gui-input hasDatepicker" placeholder="dateCirculation">
                                    <span class="field-icon">
                                    <i class="fa fa-calendar"></i>
                                    </span>
                                    </label>
                                    </div>

                                          

                               

                            </div>

                            <div class="panel-footer text-right">
                                <button type="submit" class="btn btn-bordered btn-primary mb5"> Validate Form</button>
                                <button type="reset" class="btn btn-bordered mb5"> Cancel</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>

        </section>

    </section>
</div>

