<header class="sidebar-header">
   
    
   </header>


   <ul class="nav sidebar-menu">
    
    
    
    <li>
     <a class="accordion-toggle" href="#">
      <span class="sidebar-title">Voitures</span>
      <span class="caret"></span>
      <span class="sb-menu-icon fa fa-list-ul"></span>
     </a>
     <ul class="nav sub-nav">
      <li>
       <a routerLink='voitures/listevoitures'>
        Liste des voitures
       </a>
      </li>
      <li>
       <a routerLink='voitures/ajoutervoiture'>
        ajouter voiture
       </a>
      </li>
      
    
     </ul>
    </li>
    <li>
        <a class="accordion-toggle" href="#">
         <span class="sidebar-title">Clients</span>
         <span class="caret"></span>
         <span class="sb-menu-icon fa fa-list-ul"></span>
        </a>
        <ul class="nav sub-nav">
         <li>
          <a routerLink='clients/listeclients'>
           liste des clients
          </a>
         </li>
         <li>
          <a routerLink='clients/ajouterclient'>
           ajouter clients
          </a>
         </li>
        
        
         
        </ul>
       </li>
       <li>
        <a class="accordion-toggle" href="#">
         <span class="sidebar-title">Locations</span>
         <span class="caret"></span>
         <span class="sb-menu-icon fa fa-list-ul"></span>
        </a>
        <ul class="nav sub-nav">
         <li>
          <a routerLink='/locations/listelocations'>
           liste des locations
          </a>
         </li>
         <li>
          <a routerLink='/locations/ajouterlocation'>
           Ajouter location
          </a>
         </li>
       
         
        </ul>
       </li>
    
    
    
    
    <li>
     <a class="accordion-toggle" href="#">
      <span class="sidebar-title">User Interface</span>
      <span class="caret"></span>
      <span class="sb-menu-icon fa fa-star-half-full "></span>
     </a>
     <ul class="nav sub-nav">
      <li>
       <a routerLink='/bilan/listebilan'>
        Alerts
       </a>
      </li>
      
      
    
    
      
    
     
     </ul>
    </li>
   
    
    
   </ul>
