<div class="chute chute-center">

    <div class="row">
    <div class="col-xs-12">
    <div class="panel">
    <div class="panel-heading">
    <span class="panel-title hidden-xs">liste des voitures</span>
    </div>
    <div class="panel-body pn">
    <div class="table-responsive">
    <table class="table allcp-form theme-warning tc-checkbox-1 fs13">
    <thead>
    <tr class="bg-light">
    <th class="text-center"></th>
    <th class="">N°immat</th>
    <th class="">Marque</th>
    <th class="">Modèle</th>
    <th class="">Date_cir</th>
    <th class="">Prix_loc/j</th>
    <th class="text-right">delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i of list">
    <td class="text-center">
    <label class="option block mn">
    <input type="checkbox" name="i" value="FR">
    <span class="checkbox mn"></span>
    </label>
    </td>
    <td class="w100">{{i.numImmatriculion}}
    </td>
    <td class="">{{i.marque}}</td>
    <td class="">{{i.modele}}</td>
    <td class="">{{i.dateCirculation}}</td>
    <td class="">{{i.prixLoc}}</td>
    <td><button  (click)="delete(i.id)"><i class="fa fa-trash"></i></button></td>
    </tr>

    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    </div>


<!--        modal modifier
-->






